.approval-form {
    padding-left: 10px;
    max-width: 900px;
    width: 100%;
    margin-bottom: 20px;
    overflow-x: auto;
}

.approval-table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
    position: relative;
}

.approval-table tbody {
    position: relative;
}
/* 疑似要素で角丸を適用 */
.approval-table tbody::before {
    z-index: -1;
    background-color: #FFF;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    pointer-events: none;
}

.approval-table tr {
    font: normal 700 clamp(12px, 6vw, 16px) "Inter", sans-serif;
    letter-spacing: 2px;
    border-bottom: 2px solid #E1E1E1;
    white-space: nowrap;
}

.table__label {
    color: #737373;
    padding-left: clamp(25px, 2vw, 64px);
    padding-right: clamp(15px, 2vw, 32px);
    width: clamp(100px, 25vw, 300px);
}
.table__input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    gap: clamp(5px, 5vw, 20px);
    color: #000;
    max-width: 320px;
    width: 100%;
    padding: 35px 20px 35px 0;
}

.tfoot tr {
    border: none;
}
.button-container {
    background-color: #E6E6E6;
    height: clamp(130px, 5vw, 170px);
    padding-right: 10px;
    display: flex;
    text-align: right;
    align-items: flex-end;
    justify-content: flex-end;
}
.approve-button,
.approved-message {
    width: 130px;
    height: 50px;
    padding: 8px 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font: normal 700 clamp(16px, 2vw, 22px) "Inter", sans-serif;
    letter-spacing: 2px;
    border: none;
    border-radius: 5px;
}
.approve-button {
    background-color: #000;
    cursor: pointer;
}
.approve-button:hover {
    background-color: #333;
}
.approved-message {
    background-color: #696969;
}

/* タブレットサイズ */
@media (min-width: 768px) {
    .approval-table tr {
        font: normal 700 14px "Inter", sans-serif;
    }
    .button-container {
        height: 150px;
    }
}
/* スマホサイズ */
@media (max-width: 767px) {
    .approval-table tr {
        font: normal 700 12px "Inter", sans-serif;
    }
    .button-container {
        height: 130px;
    }
}
