.staff-list__container {
    padding-left: 10px;
    max-width: 900px;
    width: 100%;
}

.table-container {
    overflow-x: auto;
    width: 100%;
}
table {
    width: 100%;
    background-color: #FFF;
    color: #737373;
    border-collapse: collapse;
    border-radius: 10px;
}
th, td {
    min-width: 90px;
    font: normal 700 clamp(12px, 6vw, 16px) "Inter", sans-serif;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
}
th {
    height: 31px;
    padding: 15px 0 12px;
    border-bottom: 3px solid #E1E1E1;
}
td {
    height: 33px;
    padding: clamp(10px, 5vw, 14px) clamp(15px, 5vw, 20px) clamp(8px, 5vw, 12px);
    border-bottom: 2px solid #E1E1E1;
}

.detail-button {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.detail-button:hover {
    text-decoration: underline;
}

/* タブレットサイズ */
@media (min-width: 768px) {
    td {
        padding: clamp(10px, 5vw, 14px) clamp(10px, 5vw, 15px) clamp(8px, 5vw, 12px);
    }
}
/* スマホサイズ */
@media (max-width: 767px) {
    td {
        padding: 8px 10px 6px;
    }
}
