.staff-list__container {
    margin-left: 20px;
    width: 900px;
}

.table-container {
    overflow-x: auto;
    width: 100%;
}
table {
    width: 100%;
    background-color: #FFF;
    color: #737373;
    border-collapse: collapse;
    border-radius: 10px;
}
th, td {
    font: normal 700 16px "Inter", sans-serif;
    text-align: center;
    vertical-align: top;
}
th {
    height: 31px;
    padding: 15px 0 12px;
    border-bottom: 3px solid #E1E1E1;
}
td {
    height: 33px;
    padding: 14px 20px 12px;
    border-bottom: 2px solid #E1E1E1;
}

.detail-button {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.detail-button:hover {
    text-decoration: underline;
}
