.register-container {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.register-form__button {
    margin-top: 40px;
}
.login-link {
    margin-top: 15px;
}
