.verifyEmail-container {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font: normal 700 clamp(16px, 6vw, 24px) "Inter", sans-serif;
}
.verifyEmail-button {
    margin-top: 40px;
    width: 257px;
    height: 69px;
    font: normal 700 clamp(16px, 6vw, 24px) "Inter", sans-serif;
    border-radius: 10px;
    background-color: #D9D9D9;
    border: 1px solid #000;
}
.verifyEmail-button:hover {
    cursor: pointer;
}
.resend-button {
    margin-top: 52px;
    font: normal 400 clamp(12px, 6vw, 20px) "Inter", sans-serif;
    border: none;
    background-color: transparent;
}

.success-message,
.error-message,
.info-message {
    font: normal 400 clamp(12px, 6vw, 20px) "Inter", sans-serif;
    color: red;
    display: flex;
    justify-content: center;
}
