.attendance-list__container{
    padding-left: 10px;
    max-width: 900px;
    width: 100%;
}

.month-selector,
th,
td {
    font: normal 700 clamp(12px, 6vw, 16px) "Inter", sans-serif;
    white-space: nowrap;
    min-width: 90px;
}

.month-selector {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF;
    width: 100%;
    height: 60px;
    margin-bottom: 46px;
    padding: 12px 16px;
    border-radius: 10px;
}
.month-selector a {
    padding: 11px;
    color: #737373;
    text-decoration: none;
    border: none;
    background: none;
    cursor: pointer;
}
.month-selector a:hover {
    text-decoration: underline;
}

.current-month {
    font: normal 700 clamp(14px, 6vw, 20px) "Inter", sans-serif;
    display: flex;
    align-items: center;
    gap: 8px;
}
.current-month img {
    width: 25px;
    height: auto;
}

.table-container {
    overflow-x: auto;   /* 要素の横幅が親要素を超えたときに横スクロールを表示 */
    width: 100%;
}
table {
    width: 100%;
    background-color: #FFF;
    color: #737373;
    border-collapse: collapse;   /* セルの境界線の統合 */
    border-radius: 10px;
}
th, td {
    text-align: center;
    vertical-align: top;
}
th {
    height: 31px;
    padding: 15px 0 12px;
    border-bottom: 3px solid #E1E1E1;
}
td {
    height: 33px;
    padding: clamp(10px, 5vw, 14px) clamp(15px, 5vw, 40px) clamp(8px, 5vw, 12px);
    border-bottom: 2px solid #E1E1E1;
}
.detail-button {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.detail-button:hover {
    text-decoration: underline;
}

/* タブレットサイズ */
@media (min-width: 426px) {
    td {
        padding: clamp(10px, 5vw, 14px) clamp(10px, 5vw, 25px) clamp(8px, 5vw, 12px);
    }
}
/* スマホサイズ */
@media (max-width: 425px) {
    .month-selector {
        padding: 12px 5px;
    }
    .current-month {
        font: normal 700 14px "Inter", sans-serif;
    }
    .current-month img {
        width: 15px;
        height: auto;
    }
    td {
        padding: 8px 10px 6px;
    }
}
