.container {
    font: normal 700 18px "Inter", sans-serif;
    max-width: 680px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 1px solid green;
}

.status-badge {
    width: 100px;
    height: 40px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #C8C8C8;
    color: #696969;
    font: normal 700 18px "Inter", sans-serif;
    letter-spacing: calc(18px * 0.15);
    border-radius: 50px;
}
.date {
    font: normal 400 40px "Inter", sans-serif;
    color: #000;
    margin-top: 32px;
    height: 48px;
}
.time {
    font: normal 700 80px "Inter", sans-serif;
    color: #000;
    margin-top: 32px;
    margin-bottom: 87px;
    width: 242px;
    height: 97px;
}

.button-group {
    display: flex;
    gap: 82px;
}

.attendance-button,
.break-button {
    width: 221px;
    height: 77px;
    font: normal 700 32px "Inter", sans-serif;
    letter-spacing: calc(32px * 0.15);
    border: none;
    border-radius: 20px;
    cursor: pointer;
}
.attendance-button:hover,
.break-button:hover {
    background-color: #CCC;
}
.attendance-button {
    background-color: #000;
    color: #FFF;
}
.break-button {
    background-color: #FFF;
    color: #000;
}

.clock_end-message {
    font: normal 700 26px "Inter", sans-serif;
    color: #000;
}
