.attendance-form {
    padding-left: 20px;
    width: 900px;
    margin-bottom: 20px;
}

.attendance-table {
    width: 100%;
    margin: auto;
    border-collapse: collapse;
}
.attendance-table table {
    width: 100%;
    border-collapse: collapse;   /* セルの境界線の統合 */
    border-radius: 10px;
}
.attendance-table tr {
    background-color: #FFF;
    border-bottom: 2px solid #E1E1E1;
    font: normal 700 16px "Inter", sans-serif;
    letter-spacing: 2px;
}
.table__label {
    color: #737373;
    padding-left: 64px;
}
.table__input {
    display: flex;
    justify-content: space-between;
    text-align: left;
    color: #000;
    width: 320px;
    padding: 35px 0;
}
.table__input input {
    text-align: center;
    font: normal 700 16px "Inter", sans-serif;
    letter-spacing: 2px;
    width: 103px;
    height: 29px;
    padding: 5px;
    border: 1px solid #E1E1E1;
}
.table__input textarea {
    font: normal 700 14px "Inter", sans-serif;
    width: 316px;
    height: 72px;
    padding: 8px;
    border: 1px solid #D9D9D9;
    border-radius: 4px;
    resize: none;
}

.tfoot tr {
    border: none;
}
.button-container {
    text-align: right;
    background-color: #F5F5F5;
}
.edit-button {
    font: normal 700 22px "Inter", sans-serif;
    letter-spacing: 2px;
    background-color: #000;
    color: #FFF;
    border: none;
    width: 130px;
    height: 50px;
    margin-top: 120px;
    padding: 8px 24px;
    border-radius: 5px;
    cursor: pointer;
}
.edit-button:hover {
    background-color: #333;
}
.edit-message {
    font: normal 800 18px "Inter", sans-serif;
    color: #FF0000;
    margin-top: 22px;
}
