.request-list__container{
    padding-left: 10px;
    max-width: 900px;
    width: 100%;
}

.request-list__header {
    font: normal 400 16px "Inter", sans-serif;
    display: flex;
    padding-left: clamp(20px, 5vw, 50px);
    margin-bottom: 0;
    gap: clamp(80px, 5vw, 106px);
}
.request-list__header a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    white-space: nowrap;
}
.request-list__header a.active {
    font-weight: 700;
}
.pending:hover,
.approved:hover {
    text-decoration: underline;
}

.divider {
    height: 2px;
    margin-top: 17px;
    margin-bottom: 45px;
    width: 100%;
}

.table-container {
    overflow-x: auto;   /* 要素の横幅が親要素を超えたときに横スクロールを表示 */
    width: 100%;
}
table {
    width: 100%;
    background-color: #FFF;
    color: #737373;
    border-collapse: collapse;   /* セルの境界線の統合 */
    border-radius: 10px;
}
th, td {
    font: normal 700 clamp(12px, 6vw, 16px) "Inter", sans-serif;
    text-align: center;
    vertical-align: top;
    white-space: nowrap;
    min-width: 90px;
}
th {
    height: 31px;
    padding: 15px 0 12px;
    border-bottom: 3px solid #E1E1E1;
}
td {
    height: 33px;
    padding: clamp(10px, 5vw, 14px) clamp(15px, 5vw, 20px) clamp(8px, 5vw, 12px);
    border-bottom: 2px solid #E1E1E1;
}
.detail-button {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.detail-button:hover {
    text-decoration: underline;
}

/* タブレットサイズ */
@media (min-width: 768px) {
    td {
        padding: clamp(10px, 5vw, 14px) clamp(10px, 5vw, 15px) clamp(8px, 5vw, 12px);
    }
}
/* スマホサイズ */
@media (max-width: 767px) {
    td {
        padding: 8px 10px 6px;
    }
}
