.request-list__container{
    padding-left: 20px;
    width: 900px;
}

.request-list__header {
    font: normal 400 16px "Inter", sans-serif;
    display: flex;
    padding-left: 50px;
    margin-bottom: 0;
}
.request-list__header a {
    margin-right: 50px;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.request-list__header a.active {
    font-weight: 700;
}
.pending:hover,
.approved:hover {
    text-decoration: underline;
}

.divider {
    height: 2px;
    margin-top: 17px;
    margin-bottom: 45px;
    width: 100%;
}

.table-container {
    overflow-x: auto;   /* 要素の横幅が親要素を超えたときに横スクロールを表示 */
    width: 100%;
}
table {
    width: 100%;
    background-color: #fff;
    color: #737373;
    border-collapse: collapse;   /* セルの境界線の統合 */
    border-radius: 10px;
}
th, td {
    text-align: center;
    vertical-align: top;
}
th {
    height: 31px;
    padding: 15px 0 12px;
    border-bottom: 3px solid #E1E1E1;
}
td {
    height: 33px;
    padding: 14px 20px 12px;
    border-bottom: 2px solid #E1E1E1;
}
.detail-button {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.detail-button:hover {
    text-decoration: underline;
}
